@page "/clusters/{ClusterId}"
<h3>Cluster @ClusterId</h3>

@code {
    [Parameter] 
    public string ClusterId { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
