@page "/counter"

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="OnIncreaseCount">Click me</button>

<Heading Size="HeadingSize.Is1">Counter</Heading>

<Paragraph>Current count: @_currentCount</Paragraph>

<Button Color="Color.Primary" Clicked="@OnIncreaseCount">Click me</Button>

@code {
    int _currentCount = 0;

    void OnIncreaseCount()
    {
        _currentCount++;
    }
}
