<div>
    <Card>
        <CardHeader>
            <CardTitle Size="5">Cluster @Cluster.Name</CardTitle>
        </CardHeader>
        <CardImage Source="/assets/img/theme/leaflet.jpg" Alt="Placeholder image"></CardImage>
        <CardBody>
            <CardText>@Cluster.Description</CardText>
            <Buttons>
                <Button Color="Color.Primary" @onclick="OnConnect">Connect</Button>
                <Button Color="Color.Secondary" Clicked="@OnEditCluster">Modify</Button>
            </Buttons>
        </CardBody>
    </Card>
</div>

@code {
    [Parameter]
    public Kraft.Shared.Cluster Cluster { get; set; }

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    [Parameter]
    public EventCallback OnEditCluster { get; set; }

    [Parameter]
    public EventCallback OnConnect { get; set; }
}