<div>
    <Card>
        <CardBody>
            <CardTitle Size="5">New KafkaCluster</CardTitle>
        </CardBody>
        <CardImage Source="/assets/img/theme/leaflet.jpg" Alt="Placeholder image" />
        <CardBody>
            <CardText>
            </CardText>
            <Button Color="Color.Primary" @onclick="OnNewClusterCb">Add</Button>
        </CardBody>
    </Card>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnNewClusterCb { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
